<mat-card style="max-height: 300px; display: flex; align-items: center; margin: 10px 0; border: 1px solid #ccc;">
    <div class="movie-poster" style="margin-right: 20px;"><img height="120" [src]="fullPosterPath"></div>
    <div class="movie-info" style="flex-grow: 1;">
        <div class="movie-title" style="font-size: 18px; font-weight: 500;">{{ movie.title }} <span style="color:lightslategray;">({{ movie.releaseYear }})</span></div>
    </div>
    <div class="movie-rating">
        <mat-icon style="color: rgb(246, 202, 44);" class="star">star</mat-icon>
        <div>{{movie.averageReview}}/10</div>
    </div>
</mat-card>
