<mat-card class="movie-list-card">
    <div class="movie-poster" style="margin-right: 20px;"><img height="120" [src]="fullPosterPath"></div>
    <div class="movie-info" style="flex-grow: 1;">
        <div class="movie-title">{{ movie.title }} <span style="color:lightslategray;">({{ movie.releaseYear }})</span></div>
        <button class="details-button" routerLink="/movie/{{movie.id}}" mat-stroked-button>Details</button>
    </div>
    <div class="movie-rating">
        <mat-icon style="color: rgb(246, 202, 44);" class="star">star</mat-icon>
        <div>{{movie.averageReview}}/10</div>
    </div>
</mat-card>
