<div id="content-wrapper" role="main">
  <mat-toolbar id="navbar" role="banner">
    <mat-icon id="logo-icon">movie</mat-icon>
    <span id="toolbar-site-name">Movie Catalog</span>
    <button mat-button routerLink="/home" routerLinkActive="active-nav">
      Home
    </button>
    <span class="flex-spacer"></span>
    <ng-container *ngIf="!this.loginService.isLoggedIn">
    <button mat-button routerLink="/login" routerLinkActive="active-nav">
      Login
    </button>
    <button mat-button routerLink="/signup" routerLinkActive="active-nav">
      Signup
    </button>
  </ng-container>
  </mat-toolbar>
  <div id="site-content">
    <router-outlet></router-outlet>
  </div>
  <footer id="footer">
    <div>
      <a
        class="github-button"
        href="https://github.com/Valyreon/movie-manager-sample-project"
        data-icon="octicon-star"
        aria-label="Star Valyreon/movie-manager-sample-project on GitHub"
        >Star</a
      >
    </div>
    <div style="text-align: center;">
      Created and maintained by
      <a class="custom-link" href="https://github.com/Valyreon">Luka B</a>.
      Source code and examples released under the MIT license.
    </div>
  </footer>
</div>
