/* MY STYLES */
#logo-icon {
  margin-right: 15px;
}

.flex-spacer {
  flex-grow: 1;
}

.toolbar-site-name {
  margin-right: 15px;
  text-transform: uppercase;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#site-content {
  flex: 1;
  margin: 20px auto;
  display: flex;
}

#footer {
  min-height: 30px;
  background-color: #555;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .custom-link {
    color: cornflowerblue;
  }
}

.active-nav {
  background-color: #444;
}

#navbar {
  background-color: #222;
  color: white;
}

#mobile-navbar {
  display: none;
  background-color: #222;
  color: white;
}

.mobile-navbar-button {
  width: 100%;
  height: 30px;
  text-align: center;
  text-decoration: none !important;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-navbar-button:hover {
  background-color: #555;
}

#mobile-navbar-header {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  #site-content {
    margin: 0;
    width: 100%;
  }

  #navbar {
    display: none;
  }

  #mobile-navbar {
    display: flex;
    flex-direction: column;
  }
}
